body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: lightslategray;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: black;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.input-container {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px; /* Adjust this value to control the roundness */
  background-color: darkslategrey;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

button:hover {
  background-color: darkolivegreen;
}

.result {
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h3 {
  color: snow;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}
